.App {
  text-align: center;
}

h2 {
  margin: 0 -29.33%;
  background-color: lightskyblue;
  width: 9999rem;
  border: 5px solid;
  border-color: black;
  padding-top: 1%;  
  padding-left: 29.33%;
}

.row1 {
  padding-top: 5%;
  margin: 0 auto;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}
